@font-face
  font-family: 'PT Sans'
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/PTSans-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/PTSans-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

.social-links a
  color: white
  font-size: 20px
  margin: 0 10px
  text-decoration: none

.social-links a:hover
  color: #00a0dc

.social-links i
  display: inline-block

