---
---

@import index, font, basic, layout, classes

html
  background: #f0f0f0  // Postavljanje specifične svjetlije boje
  padding: 0 calc(38% - 22em)

body
  box-shadow: none  // Uklanjanje sjene za čišći izgled

body > header, body > footer
  background: #ddd  // Svjetlija siva za header i footer
  color: #333  // Tamniji tekst za bolju čitljivost

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(22% - 6em)

@media (prefers-color-scheme: dark)
  html
    background: #333  // Tamna pozadina za tamni način
  body > header, body > footer
    background: #222  // Još tamnija pozadina za header i footer
  body, body > header, body > footer
    box-shadow: 0 0 0 1px #444  // Svjetliji obrub za kontrast
